<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.5">
    <link rel="stylesheet" href="css/semantic.min.css">
    <link rel="stylesheet" href="css/landing.css">
    <title>PPDB ONLINE</title>
</head>
<body>
     <div class="navbar">
         <div class="container">
             <div class="row">
                 <div class="logo">
                    <span class="ppdb">WEB PPDB online SMK TELKOM MALANG</span> 
                 </div>
                 <div class="menu">
                     <a href=".." class="btn" style="margin-right : 26px;">Tentang kami</a>
                     <a href=".." class="btn" style="margin-right: 26px;">Berita</a>
                     <a href=".." class="btn" style="margin-right: 26px;">Kontak Kami</a>
                     <a href=".." class="btn btn-primary">Daftar</a>
                 </div>
             </div>
         </div>
     </div>
     <div class="content">
         <div class="row">
             <div class="kol5">
                 <h1 class="ppdbb">PPDB <br><span class="telkom" >SMK TELKOM <br><span class="malang"> MALANG</span></span></h1>
                 <p class="untuk">Hai adik-adik calon peserta didik baru tahun ajaran 2020/2021. PPDB sudah dibuka! 
                     Silahkan daftar melalui website ini / langsung daftar ke tempat pendaftaran.Jika ada pertanyaan silahkan hubungi kontak kami:)
                </p>
                <center><a href=".." class="btn btn-sign">Daftar Sekarang!</a></center>
             </div>
             <div class="kol7">
             </div>
         </div>
     </div>
</body>
</html>